// 마이페이지
.h-dot::before {
  @include media-breakpoint-up(lg) {
    content: '';
  }
  display: block;
  position: absolute;
  height: 1px;
  left: 2rem;
  right: 2rem;
  border-bottom: 1px solid $border;
  top: 10px;
}

@mixin card-items {
  .items {
    background-color: #fff;
    border-radius: 10px;

    &:not(.active):not(.items-add) {
      border: 1px solid $border;
    }
  }
  .items-add {
    border: dashed 1px #ccd1db;
  }
}


// 3. 팀관리
.form-team {
  overflow: hidden;
  padding-bottom: 50px;

  @include card-items;

  .status {
    color: #b4b8bf;
    //font-size: 15px;
  }

  .btn-sm {
    font-size: 13px;
    color: $primary;
    display: inline-flex;
    align-items: center;

    .mat-icon {
      font-size: 15px;
      height: 15px;
      width: 15px;
    }
  }

  .name {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 100;
    color: $primary;
  }

  .acssece {
    margin-top: 20px;
    color: #8e6bff;
    font-size: 13px;
  }
}


// 4. 결제정보 활성화
.form-payment {
  @include card-items;

  .items {
    &:not(.active) {
      .selected {
        visibility: hidden;
      }
    }

    height: 220px;
    background-color: $white;
    color: #999;

    .btn-delete {
      color: $primary;
    }

    &.active {
      background-color: $primary;
      color: #fff;

      h5 {
        color: #fff;
      }

      .btn-delete {
        color: #fff;
      }
    }
  }
}

.btn.fake {
  border: 0;
  display: block;
  text-align: left;
}


.payment-bill { // 결제 청구서
  .navbar-brand {
    width: 136px;
    @include media-breakpoint-down(lg) {
      width: 100px;
    }
  }

  @media print {
    .navbar-brand, button {
      display: none;
    }
    .total {
      border: 1px solid $border;
    }
    .mat-dialog-title {
      height: auto !important;
    }
  }
}

.bill {
  @include media-breakpoint-down(lg) {
    min-width: 650px; // 청구서 가로스크롤 처리
  }
}

.point-tooltip {
  @include media-breakpoint-down(lg) {
    left: 23% !important;
  }
}


