.form-nodata {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 24px;
  color: #090f3a;
  border-top: 1px solid #111b5c;
  border-bottom: 1px solid #ccd1db;
  margin-bottom: 40px;
  line-height: 1.4;

  p {
    line-height: 1.4;
    margin-bottom: 0;
  }
}

.list-item {
  .category {
    margin-top: 8px;
  }
}

#viewer { // 스토리 게시판 상세 대응
  a {
    // 상세내용에서 줄바꿈 처리
    word-break: break-all;
  }

  img {
    max-width: 100%;
  }
}

.board { // 게시판 공통

  tbody {
    td, th {
      padding-top: 1rem;
      padding-bottom: 1rem;
      vertical-align: middle;
      font-size: 1rem;
    }
  }

  .thum {
    background-color: #b4b8bf;
    overflow: hidden;
  }

  .text-truncate {
    display: inline-block;
  }


  // 상세보기
  .board-header {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e6eaf1;
  }

  .tui-editor-contents, .board-content { // 개발자포럼, 공지사항
    padding: .5rem 0;
    font-size: 14px;
    word-break: break-all;
  }

  #viewer .tui-editor-contents {
    font-size: 16px;
  }

  .tui-editor-contents {

    h6 {
      color: $black;
      margin-bottom: .5rem !important;
    }

    .table {
      width: 100%;

      th {
        background-color: transparent;
        border-color: #dee2e6 !important;
        font-weight: bold;
        color: $black;
        height: auto;
      }

      td, th {
        padding-top: .5rem;
        padding-bottom: .5rem;
      }
    }
  }


  .board-content {
    line-height: 1.63;
    color: #828790;
  }

  .board-paging { // 이전,다음글
    border: 1px solid #ccd1db;

    .row {
      padding: 15px;

      &:first-child {
        border-bottom: 1px solid #ccd1db;
      }

      .col-lg-auto {
        padding-right: 10px;
      }
    }
  }
}


.board-list { // 개발자포럼 목록
  border-top: 1px solid #111b5c;
  border-bottom: 1px solid #ccd1db;
  margin-bottom: 40px;

  .list-item {
    padding: 40px 0;
    @include make-row(0);

    & + .list-item {
      border-top: 1px solid $border;
    }
  }

}
/*

.form-reply-input { // 댓글 입력
  margin-top: 60px;
  margin-bottom: 30px;
  padding: 20px;
  color: #828790;

}
*/

.form-reply-input-edit { // 댓글 수정
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  color: #828790;
}

.form-reply-output { // 댓글 출력

  .form-reply-item {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 30px;
  }

  .form-reply-content {
    margin: 1rem 0;
    padding: 1rem 0;
    //color: #828790;
    overflow: hidden;
    white-space: pre-line;
  }
}


.list-file {
  line-height: 1.5;

  a {
    &:hover {
      text-decoration: underline !important;
    }
  }

  .dot {
    display: inline-block;

    &::before {
      margin-right: 6px;
      line-height: 1.5;
      content: "-";
      font-family: "Material Icons Sharp";
    }
  }
}

.form-file { // 첨부파일

  .custom-file-label { // 부트스트랩 스타일링 초기화
    border: 0;
    padding: 0;
    background-color: transparent;

    &::after {
      display: none;
    }
  }
}

.board-faq { //faq
  .mat-expansion-panel-header {
    font-size: 1rem;
  }
  .mat-expansion-panel-content {
    border-bottom: 1px solid #dee2e6;
    font-size: 1rem;
  }

  .mat-expansion-panel-body {
    img {
      display: block;
    }
  }

  .title {
    &::before {
      content: "Q";
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      background-color: $primary;
      margin-right: 10px;
    }
  }

  .mat-expansion-indicator::after {
    color: $primary;
  }

}




