// mat-button outline hidden
button:focus {
  outline: 0 !important;
}

.outer-link {
  color: #333;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1px solid #333;

  &::after {
    content: 'open_in_new';
    font-family: "Material Icons Sharp";
    margin-left: 5px;
    position: absolute;
  }
}

.btn {
  position: relative;

  &-secondary {
    background-color: #a3a3a3;
    border-color: #a3a3a3;
  }

  &.mat-mini-fab {
    height: auto;
  }

  //
  &-lg {
    font-size: 1rem;
    //line-height: 2;
    font-weight: 700;
    padding: 12px 30px;
  }


  &-arrow {
    text-align: left;
    padding-right: 3.6rem;

    &::after {
      margin-left: 1rem;
      position: absolute;
      right: 1rem;
      font-weight: 100;
      //font-size: 1.2rem;
      content: "arrow_forward";
      font-family: "Material Icons Round";
    }

  }

  &.rounded-circle {
    width: 40px;
    height: 40px;
    padding: 8px;
  }
}


/*

.btn-xl {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}
*/

