.dashboard {

  $bgColor:#ebf3fb;

  .sidebar {
    background-color: $bgColor;
    border-right: 0;

    .sidebar-top {
      padding: 40px 30px 0;
      background-color: $bgColor;
    }
    .menu-item {
      border-radius: 8px;
      border: solid 2px #ddd;
      background-color: #fff;
      padding: 12px;
      margin-bottom: 6px;
    }

    .sidebar-bottom {
      .menu {
        display: flex;
        border-bottom: 1px solid $border;
        padding: 12px 0;
        text-decoration: none;
        position: relative;
        transition: .2s all ease;

        &::after {
          font-family: 'Material Icons Sharp';
          content: 'arrow_right';
          font-size: 20px;
          position: absolute;
          right: 0;
          transition: .2s all ease;
          opacity: 0;
        }

        &.active, &:hover {
          color: $primary;

          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}

.card-dashboard {
  padding: 40px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: $box-shadow-sm;
  background-color: #fff;
  @include media-breakpoint-up(lg) {
    height: calc(100% - 30px);
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  h6 {
    font-size: 18px;
    color: $dark;
  }

  .mat-icon-button {
    margin-top: -10px;
  }
}


.dashboard-display {
  background-color: #a497d4;
  color: #fff;
  font-size: 14px;
  min-height: 50px;
  @include center;
}


.highcharts-label text {
  color: #000 !important;
  fill: #000 !important;
}


.form-h7 { // 오류보고 검색 폼에서 날짜가 풀로 보이지 않아 불가피한 조치
  //font-size: 14px;
  //input, .form-control {
  //  font-size: 14px;
  //}
  .mat-form-field-suffix {
    margin-right: -10px;
  }
}

.point-banner {
  position: relative;
  background-color: #fff;
  border: 2px solid $warning;
  border-radius: 8px;
  padding: .75rem;
  text-align: center;
  width: 100%;
}

.user-photo {
  position: relative;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url(//picsum.photos/100/100) 0 0 no-repeat;
  background-image: linear-gradient(315deg, #482db9, #46aeea);

  img {
    object-position: 50% 0;
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .mat-icon {
    width: 28px;
    height: 28px;
    font-size: 14px;
    color: #fff;
    background-color: #070f43;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
