.oi {
  width: 22px;
  height: 22px;
  background: 50% /contain no-repeat;
  display: inline-block;
}

.oi-caution {
  background-image: url(/assets/images/alert-error.svg);
  margin-right: 10px;
  margin-bottom: -5px;
}


.oi-logo-secondary {
  background-image: url(/assets/images/ci/codef_ci_web_02-4_symbol.svg);
}

.ic {
  margin-right: 6px;

  &::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: 0 1px;
    background-color: #222852;
  }
}


/*.ic-download::before {
  mask-image: url(/assets/images/dashboard/ic-btn-cvs.svg);
}

.ic-print::before {
  mask-image: url(/assets/images/dashboard/ic-btn-print.svg);
}


.btn-state-check {
  padding-left: 50px;
  background: #fff url(/assets/images/dashboard/ic-webhook-bad.svg) 20px 50% no-repeat;

  &.active {
    background-image: url(/assets/images/dashboard/ic-webhook-nor.svg);
  }
}*/

.ico-lock {
  font-size: 15px;
  color: #828790;

  &:after {
    content: "lock";
    font-feature-settings: 'liga';
    font-family: "Material Icons Sharp";
  }
}


.badge {
  &.outline {
    background-color: transparent;
    font-weight: normal;
    font-size: 12px;
  }

  &-info {
    color: $info;
    border: 1px solid $info;
  }
}

.mat-icon {
  &.btn-delete {
    border: 1px solid #ddd;
    width: 18px;
    height: 18px !important;
  }
}
