.list-step {
  @include list-unstyled;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 15px;
    bottom: 0;
    border-left: 1px solid #ccd1db;
  }

  li {
    position: relative;
    z-index: 2;
    //color: $black-50;
    counter-increment: inst;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    margin-bottom: 30px;

    &:hover, &:focus {
      text-decoration: none;
    }

    &::before {
      content: counter(inst);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      margin-right: 15px;
      color: #fff;
      background-color: #828790;
    }

    &.active {
      color: $info;

      &::before {
        background-color: $info;
      }
    }
  }
}

.list-checked {
  @include list-unstyled();

  li::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 8px;
    //mask-image: url(src/assets/images/ic-check.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: #b4b8bf;
    margin-right: 8px;
  }

  .text-info::before {
    background-color: $info;
  }

  .text-primary::before {
    background-color: $primary;
  }
}

.list-dotted {
  @include list-unstyled();
  li {
    padding-left: 14px;
    position: relative;
    font-size: 14px;
    color: $secondary;
    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 2px;
      display: inline-block;
      background-color: #999;
      left: 2px;
      top: .6rem;
    }
  }
}

.lh-2 {
  line-height: 2;
}


.list-unstyled {
  margin-bottom: 0;

  li {
    align-items: center;
  }

  .mat-icon {
    font-size: 16px;
    height: auto;
  }
}


.ic-dash {
  &::before {
    content: '';
    width: 20px;
    height: 1px;
    background-color: $primary;
    display: inline-block;
    position: relative;
    top: -4px;
    margin-right: 12px;
  }
}

.form-terms {
  line-height: 1.6;
  .list-unstyled li {
    margin-bottom: 10px;
  }
  ol.list-unstyled {
    padding-left: 20px;
    li {
      text-indent: -20px;
    }
  }
}
