.main-popup {
  //background-color: transparent;

  .mat-dialog-container {
    //background-color: transparent;
    box-shadow: none;
  }
}


.media-responsive {
  display: block;
  max-width: 90vw;
  @include media-breakpoint-up(md) {
    width: 560px;
    height: 315px;
  }
}

.bg-black {
  background-color: #000 !important;
}



.panel {
  width: 100vw;
  height: 1130px;
  @include media-breakpoint-up(lg) {
    height: 1030px;
  }
}

.package-slide {
  top: 150px;
  @include media-breakpoint-up(lg) {
    top: 350px;
  }
}


progress#page {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  appearance: none;
  width: 100%;
  height: 2px;
  border: none;
  background: transparent;

  &::-webkit-progress-bar {
    background: transparent;
  }

  &::-webkit-progress-value {
    background: $info;
    //background-attachment: fixed;
  }
}


.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  //background-image: url(/assets/images/main/bgimg-1@2x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
}

.sub {

  h2 {
    text-transform: uppercase;
  }

  h4 {
    font-size: 24px;
    color: $primary;
    text-transform: uppercase;
  }

  h6 {
    color: #a3a3a3;
    text-transform: uppercase;
  }
}

.gs-reveal {
  opacity: 0;
  visibility: hidden;
  transition: transform 0s;
}

