button.mat-button, button.mat-flat-button, button.mat-icon-button, button.mat-stroked-button {
  //padding: 0;
}

.mat-icon-button {
  width: 36px !important;
  height: 36px !important;
  line-height: 36px !important;
}

label {
  &.mat-radio-label, &.mat-checkbox-layout {
    margin-bottom: 0;
  }
}

.mat-tab-group {
  font-family: $font-family-sans-serif;
}

mat-icon.sm {
  transform: scale(.75);
}

mat-icon.small {
  text-align: center;
  height: 12px;
  font-weight: 700;
}

.small {
  mat-icon {
    font-size: 140%;
    width: auto;
    height: auto;
    padding: 0;
  }
}

// paginator
.mat-paginator {
  background-color: transparent;
}

.mat-paginator-page-size-label {
  display: none;
}

.paginator-above {
  .mat-paginator-range-actions {
    display: none;
  }
}

mat-button-toggle-group.mat-button-toggle-group-appearance-standard,
mat-button-toggle-group.mat-button-toggle-standalone.mat-button-toggle-appearance-standard {
  border-radius: 0;
  border: 0;
}


mat-button-toggle-group.toggle-primary {
  display: flex;

  mat-button-toggle {
    flex-grow: 1;
    color: #828790;
    border: 1px solid #ccd1db;

    &.mat-button-toggle-checked {
      font-weight: bold;
      color: $primary;
      border-color: $primary;
    }
  }
}


.mat-checkbox.card.justify-content-between .mat-checkbox-layout {
  width: 100%;
}

// datepicker
.form-control .mat-form-field-infix {
  border-top-width: 4px;
}

.mat-dialog-title {
  font-family: $font-family-sans-serif;
}

.mat-snack-bar-container {
  background-color: #fff;
  color: #828790;
  line-height: 40px;
}

.mat-spinner-primary {
  position: fixed;
  top: 0;
  z-index: 1031;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .3);
}

.x3 {
  zoom: .75 !important;
}

.x2 {
  zoom: .5 !important;
}

.tooltip-lg {
  max-width: 400px !important;
}
