// 팝업
// 메인 공지
.popup-content {
  .tui-editor-contents pre, .tui-editor-contents code {
    font-family: $font-family-base;
  }

  .tui-editor-contents pre {
    padding: 12px;
    font-size: 13px;
  }
}

mat-dialog-container.mat-dialog-container {
  border-radius: 0;
  padding: 0;

  .mat-dialog-title {
    line-height: 1.6;
    box-shadow: $box-shadow-sm;
    background-color: #fff;
    padding: 1rem 1rem 1rem 2rem;
    margin: 0;
    font-size: 1.4rem;
    color: #090f3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mat-dialog-content {
    //background-color: #f2f5fa;
    padding: 2rem;
    margin: 0;
    //color: #828790;
    text-align: left;
    max-height: 80vh !important;
  }

  .mat-dialog-actions {
    min-height: auto;
    padding: 0;
    margin: 0;

    .btn {
      padding: 1rem;
      border-radius: 0;
    }
  }

  .top, .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top {
    margin-bottom: 20px;
  }

  .bottom {
    margin-top: 20px;
  }
}

.modal-terms {
  // 익스플로러에서 z-index가 navbar 아래로 깔리고 사이즈 지정 안하면 컨텐츠에 따라 다른 사이즈로 열림
  width: 60vw;
  position: relative;
  z-index: 9999;
}

.popup-content {
  img {
    max-width: 100% !important;
  }
}

// 2020-11-5 : 팝업 자동화하면서 추가

.modal-lg {
  width: 800px;
}

.modal-md {
  width: 500px;
}

.modal-sm {
  width: 300px;
}
