@mixin commonTabs {
  .mat-tab-header {
    border: 0;
  }

  .mat-ink-bar {
    display: none;
  }

  .mat-tab-label {
    flex-grow: 1;
    padding: 0;
    min-width: 60px;
  }
}


.mat-tab-labels {
  //background-color: #fff;
  border-radius: 5px 5px 0 0;
}

.mat-tab-label {
  opacity: 1 !important;
}


mat-tab-group.mat-tab-group-primary { // 기본
  @include commonTabs;

  .mat-tab-label {
    //height: 52px;
    border: solid 1px #ccd1db;
    border-bottom-color: #111b5c;
    color: #828790;
    //font-weight: 300;

    & + .mat-tab-label {
      margin-left: -1px;
    }

    &.mat-tab-label-active {
      position: relative;
      z-index: 1;
    }
  }

  .mat-tab-label-active {
    border-color: $dark;
    color: $dark;
    font-weight: bold;
    border-bottom-color: transparent;
  }
}

mat-tab-group.mat-tab-group-dark { // 메인, 코드 리뷰
  @include commonTabs;

  .mat-tab-label {
    min-width: 100px !important;
    //padding: 0!important;
    //height: 50px;
    background-color: #000219;

    &.mat-tab-label-active {
      background-color: #040b3a;
    }

    .mat-tab-label-content {
      color: #fff;
    }
  }
}


@mixin codeview($x,$y,$z) {

  :not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: $x;
  }

  pre[class*="language-"] {
    border-radius: 0;
    margin: 0;
    padding: 40px;
  }

  div.code-toolbar:first-of-type > .toolbar {
    opacity: 1 !important;
    top: 25px;
    right: 25px;

    * {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0;
      width: 83px;
      height: 36px;
      background-color: $y;
      color: $z;
      box-shadow: none;
    }
  }

}

.prism-theme-white {
  @include codeview(#fff, #f2f5fa, #081053);
}


// 채용
.about-us mat-tab-group.mat-tab-group-primary {
  .mat-tab-labels {
    border-bottom: 1px solid $primary;
  }

  .mat-tab-label {
    flex-grow: 0;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    bottom: -1px;

    &.mat-tab-label-active {
      background-color: #f3f5fb;
    }
  }

  .mat-tab-body-content {
    padding-top: 50px;
  }
}

.mat-tab-body-content {
  overflow-x: hidden !important;
}


.api { // 메인 코드뷰
  .mat-tab-group-primary {
    .mat-tab-label {
      border: 0;
      background-color: #f7f9fc;

      &:first-of-type {
        border-radius: 5px 0 0;
      }

      &:last-of-type {
        border-radius: 0 5px 0 0;
      }

      & + .mat-tab-label {
        margin-left: 0;
        border-left: 1px solid #fff;
      }
    }

    .mat-tab-label-active {
      color: $primary;
      background-color: #fff;
    }

    .mat-tab-body-wrapper {
      background-color: #fff;
    }
  }
}


.form-how-to-use { // 이용사례 코드뷰
  .mat-tab-body-wrapper {
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 5px 8.7px 26px 0 rgba(14, 26, 70, 0.2);
  }
}


// 고객지원 : 12.21
.mat-tab-label-hidden {
  & > .mat-tab-header {
    display: none;
  }

  .mat-tab-link {
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      background-color: #fff001;
      border-radius: 50%;
      margin: 0 0 15px 10px;
      visibility: hidden;
    }

    &:not(:first-child) {
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        background-color: rgba(255, 255, 255, .4);
        width: 1px;
        height: 16px;
      }
    }

    &.active {
      font-weight: bold;

      &::after {
        visibility: visible;
      }
    }
  }
}


