<h6 class="mt-5">color : https://zpl.io/VDeLKDg</h6>

<div class="row">
  <div class="col-lg-2 col-6">
    <h6>theme</h6>
    <div class="row no-gutters">
      <div class="col-lg-12 p-1" [ngClass]="'bg-'+item" *ngFor="let item of themes">
        .bg-{{item}}
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-6">
    <h6 class="invisible">theme</h6>
    <div class="row no-gutters">
      <div class="col-lg-12 p-1" [ngClass]="'text-'+item" *ngFor="let item of themes">
        .text-{{item}}
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-6">
    <h6>colors</h6>
    <div class="row no-gutters">
      <div class="col-lg-12 p-1" [ngClass]="'bg-'+item" *ngFor="let item of colors">
        .bg-{{item}}
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <h6 class="invisible">colors</h6>
    <div class="row no-gutters">
      <div class="col-lg-12 p-1" [ngClass]="'text-'+item" *ngFor="let item of colors">
        .text-{{item}}
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <h6>package</h6>
    <div class="row no-gutters">
      <div class="col-lg-12 p-1" [ngClass]="'bg-'+item" *ngFor="let item of package">
        .bg-{{item}}
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <h6 class="invisible">package</h6>
    <div class="row no-gutters">
      <div class="col-lg-12 p-1" [ngClass]="'text-'+item" *ngFor="let item of package">
        .text-{{item}}
      </div>
    </div>
  </div>
</div>


<h3>button</h3>

<div class="row">
  <div class="col-lg-3">
    <h6>.btn-*</h6>
    <div class="btn btn-block m-1" [ngClass]="'btn-'+item" *ngFor="let item of themes">
      .btn-{{item}}
    </div>
  </div>
  <div class="col-lg-3">
    <h6>.btn-outline-*</h6>
    <div class="btn btn-block m-1" [ngClass]="'btn-outline-'+item" *ngFor="let item of themes">
      .btn-outline-{{item}}
    </div>
  </div>
  <div class="col-lg-3">
    <h6>size</h6>
    <div class="btn btn-block m-1 btn-primary" [ngClass]="'btn-'+item" *ngFor="let item of size">
      .btn-{{item}}
    </div>
  </div>
</div>


<h3 class="mt-5">form</h3>
<h5>zpl.io/blggn0P</h5>
<div class="row">
  <div class="col-lg-lg-6">
    <input type="text" class="form-control form-group" value="필드명">
    <input type="text" class="form-control form-group" disabled value="필드명 수정 불가시-value">
    <input type="text" class="form-control form-group" disabled placeholder="필드명 수정 불가시-placeholder">

    <div class="form-group input-group">
      <input class="form-control" placeholder="기간입력" type="date">
      <span class="px-2">~</span>
      <input class="form-control" placeholder="기간입력" type="date">
    </div>

    <div class="form-group input-group">
      <select name="" id="" class="custom-select">
        <option value="">선택</option>
      </select>
      <input class="form-control" placeholder="" type="text">
      <div class="input-group-append">
        <button type="button" class="btn btn-info">인증</button>
      </div>
    </div>

    <div class="form-group input-group">
      <input class="form-control" placeholder="키워드" type="search">
      <div class="input-group-append">
        <button type="button" class="btn btn-sm btn-info pb-0">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
