<div class="alert alert-light border p-0 mt-3">
  <div class="row align-items-center m-2">
    <div class="col-4 col-lg-2">public_key</div>
    <div class="col-8 col-lg-10 text-primary bg-secondary p-2 rounded position-relative">
      <div class="form-inline">
        <div style="word-break: break-all; padding-right: 30px;">MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII ...</div>
        <button class="position-absolute text-secondary btn" mattooltip="copy" mattooltipposition="above" style="right: 0; top: 0; ">
          <mat-icon>file_copy</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
