<div class="container">
  <!--todo : 공지 메일 수신자 정보 : 2021.1.14 add-->
  <!--https://www.notion.so/API-56955dc7dfd44ed38d484ae2019ad423-->
  <!--https://app.zeplin.io/project/5b90a9528c9941529c427c49/screen/5ce66853f4c94c1e0a1475f6-->
  <!--https://zpl.io/belQgDN-->
  <!--http://172.30.1.36:4200/#/account/general-->

  <div class="mt-5 form-inline">
    <h6 class="mb-0">공지 메일 수신자 정보</h6>
    <mat-icon class="ml-2" inline matTooltipPosition="above" matTooltip="프로젝트 담당자와 함께 등록된 수신자에게 사용 API 관련 공지, 장애통지, 변경예고 안내 메일이 발송됩니다.">help_outline</mat-icon>
    <button class="btn btn-sm btn-outline-secondary ml-auto" (click)="mailRecipientEdit = !mailRecipientEdit">
      <mat-icon inline>edit</mat-icon>
      수신자 변경
    </button>
  </div>

  <div *ngIf="!mailRecipientItems.length && !mailRecipientEdit" class="alert alert-secondary text-center mt-3">
    <h5>정보가 없습니다.</h5>
    수신자 변경을 통해 등록해 주세요.
  </div>

  <div *ngIf="mailRecipientItems.length">
    <div class="bg-primary text-white row py-2 mt-3 mx-0">
      <div class="col-auto text-center" style="width: 60px;">번호</div>
      <div class="col-auto">이메일</div>
      <div class="col-auto ml-auto" style="width: 150px;">이름</div>
    </div>
    <!--  length 10 이상이면 테이블 스크롤 처리 -->
    <div style="overflow-y:auto;" class="border-bottom" [ngStyle]="{height : mailRecipientItems.length > 10 ? '460px' : 'auto'}">
      <table class="table h7 mb-0">
        <tbody>
        <tr *ngFor="let item of mailRecipientItems; index as i">
          <td style="width: 60px;" class="text-center">{{i + 1}}</td>
          <td>abcde@codef.io</td>
          <td class="position-relative" style="width: 150px;">
            홍길동
            <mat-icon *ngIf="mailRecipientEdit == true" class="click position-absolute" style="right: 8px; top: 7px;"
                      (click)="mailRecipientItems.splice(i,1)">close
            </mat-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="mailRecipientEdit == true">
    <!--  length 30 이상이면 입력폼 숨기기 -->
    <div *ngIf="mailRecipientItems.length <= 29" class="input-group mt-3">
      <input type="email" class="form-control" value="" placeholder="이메일">
      <input type="text" class="form-control w-20 flex-grow-0" value="" placeholder="이름">
      <div class="input-group-append">
        <button type="button" class="btn btn-block btn-primary px-lg-5" (click)="mailRecipientItems.push(1)">추가</button>
      </div>
    </div>

    <div class="form-inline mt-3">
      <button class="btn px-5 btn-secondary ml-auto" (click)="mailRecipientEdit = false;">취소</button>
      <button class="btn px-5 btn-info ml-2" (click)="mailRecipientEdit = false; openSnackBar('변경되었습니다.');">확인</button>
    </div>
  </div>
</div>
